<style>
    /*
    * Based on http://stackoverflow.com/a/14260175/6257838
    */
    .skull-image {
        -webkit-filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.5));
        filter: url(shadow.svg#drop-shadow);

        min-width: 128px;
        min-height: 128px;
    }

    .skull-image.new-image {
        -webkit-filter: drop-shadow(8px 8px 6px rgba(0, 150, 20, 0.6));
        filter: url(shadow.svg#drop-shadow);
    }
</style>

<div class="pull-right form-inline">
    <button class="btn btn-primary" ng-click="navigateTo('/')">Generate New</button>

    &nbsp;

    <div class="form-group">
        <form>
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchQuery">
            <button type="submit" class="btn btn-success" ng-click="reloadGallery()"><span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div>
</div>


<h2>Skin Gallery
    <small>{{'Page #' + pagination.page}}</small>
</h2>

<div ng-init="galleryInit()">
    <div ng-show="skins.length === 0">
        <h3>No Skins Found :(</h3>
    </div>
    <div>
        <span ng-repeat="skin in skins" class="galleryImage" title="{{skin.name || '#' + skin.id}}">
        <a href="#/{{skin.id}}">
            <img ng-class="{'skull-image': !browser.isFirefox(), 'new-image': (getLastSkinCookie() < skin.id)}" src="/img/ajax-loader.gif" ng-preload-src="https://api.mineskin.org/render/head?url={{skin.url}}">
        </a>
        </span>
    </div>

    <div class="text-center">
        <hr/>
        <ul uib-pagination ng-show="pagination.totalItems > 0" items-per-page="pagination.itemsPerPage" total-items="pagination.totalItems" ng-model="pagination.page" max-size="pagination.maxSize" class="pagination pagination-centered" boundary-links="true" force-ellipses="true" rotate="true" ng-change="pageChanged()"></ul>
    </div>
</div>