<style>
    /*
    * Based on http://stackoverflow.com/a/14260175/6257838
    */
    .skull-image {
        -webkit-filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.5));

        min-width: 150px;
        min-height: 150px;
    }
</style>

<div class="pull-right form-inline">
    <button class="btn btn-primary" ng-click="navigateTo('/')"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Generate New</button>

    &nbsp;

    <div class="form-group">
        <form>
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchQuery">
            <button type="submit" class="btn btn-success" ng-click="reloadGallery()"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</div>


<h2>Skin Gallery
    <small>{{'Page #' + pagination.page}}</small>
</h2>

<div ng-init="galleryInit()">
    <div ng-show="skins.length === 0">
        <h3>Loading...</h3>
    </div>
    <div>
        <span ng-repeat="skin in skins" class="galleryImage" tooltip-placement="top" tooltip-class="skinTooltip" uib-tooltip="{{skin.name || '#' + skin.id}}">
        <a href="/{{skin.id}}">
            <img ng-class="{'skull-image': !browser.isFirefox(), 'new-image': (getLastSkinCookie() < skin.id)}" src="/img/loading.svg" ng-preload-src="https://api.mineskin.org/render/{{viewMode == 0 ? 'head' : 'skin'}}?url={{skin.url}}&skinName={{skin.name}}">
        </a>
        </span>
    </div>

    <div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- mineskin.org responsive gallery -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5730766216229938"
             data-ad-slot="3854512400"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="text-center">
        <hr/>
        <ul uib-pagination ng-show="pagination.totalItems > 0" items-per-page="pagination.itemsPerPage" total-items="pagination.totalItems" ng-model="pagination.page" max-size="pagination.maxSize" class="pagination pagination-centered" boundary-links="true" force-ellipses="true" rotate="true" boundary-link-numbers="true" ng-change="pageChanged()"></ul>
    </div>
    <div>
    <div class="pull-left">
        <div class="btn-group">
            <label class="btn btn-success" ng-model="resultType" uib-btn-radio="'list'" uncheckable ng-click="resultTypeChanged()">Recent</label>
            <label class="btn btn-success" ng-model="resultType" uib-btn-radio="'top'" uncheckable ng-click="resultTypeChanged()">Top</label>
        </div>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="toggleViewMode()">
            Toggle View
        </button>
    </div>
    </div>
</div>