<div class="pull-right">
    <button class="btn btn-primary" ng-click="navigateTo('/gallery')">Explore the Gallery</button>
</div>

<h2>Generate New</h2>

<div>
    <h3>Select Skin</h3>

    <div ng-show="!skinUpload && !skinUser">
        <br/>
        <label for="skinUrl" class="required-label">Image URL</label>
        <input type="url" id="skinUrl" class="form-control" ng-model="skinUrl" ng-required="!skinUpload && !skinUser">
    </div>
    <div ng-show="!skinUrl && !skinUser">
        <br/>
        <label for="skinUpload" class="required-label">Upload Image</label>
        <!--<input type="file" id="skinUpload" class="form-control" ng-model="skinUpload" ng-required="!skinUrl && !skinUser">-->
        <div ngf-drop ng-model="skinUpload" class="drop-box">
            <button type="file" ngf-select class="btn" id="skinUpload" name="file" ng-model="skinUpload" ngf-pattern="'image/png'" ngf-accept="'image/png'" ngf-max-size="16KB" ngf-min-width="64" ngf-min-height="32">Select File</button>
            <br/>
            <div ng-show="skinUpload" style="padding-top: 4px;">
                <img ngf-thumbnail="skinUpload" class="thumb">
                <button class="btn btn-danger" ng-click="skinUpload=null;">X</button>
            </div>
        </div>
    </div>
    <div ng-show="!skinUrl && !skinUpload">
        <br/>
        <label for="skinUser" class="required-label">Minecraft Username</label>
        <input type="text" id="skinUser" class="form-control" ng-model="skinUser" ng-required="!skinUrl && !skinUpload" ng-minlength="4" ng-maxlength="36" ng-change="skinName = skinUser">
    </div>
</div>
<hr/>
<div ng-init="refreshTimeout()">
    <h3>Options</h3>

    <div>
        <label for="skinName">Skin Name</label>
        <input type="text" id="skinName" class="form-control" ng-model="skinName" placeholder="(optional)">
    </div>
    <div>
        <label for="skinModel">Skin Model</label>
        <select id="skinModel" class="form-control" ng-model="skinModel" value="steve">
            <option value="steve">Classic (Steve)</option>
            <option value="slim">Slim (Alex)</option>
        </select>
    </div>
    <br/>
    <div>
        <input type="checkbox" id="privateUpload" ng-model="privateUpload">
        <label for="privateUpload">Private</label>
        <span class="help-block">The skin won't be visible in the gallery</span>
    </div>

    <br/>

    <div>
        <div class="pull-right">
            <strong class="pull-right">Share</strong>
            <br/>
            <link rel="me" href="https://twitter.com/MineSkinOrg">
            <a href="https://twitter.com/share" data-show-count="false" twitter></a>
        </div>

        <button class="btn btn-success" ng-disabled="generatorTimeout > 0 || (!skinUrl && !skinUpload && !skinUser)" ng-click="generate()">Generate!</button>
        <span class="help-block" ng-show="generatorTimeout > 0">Please wait {{generatorTimeout}} more second(s)...</span>
    </div>

    <hr/>

    <div>
        <h2>About</h2>
        <p>
            <strong>MineSkin.org</strong> allows you to generate <strong>skin texture data</strong> signed by Mojang.<br/>
            These can be used on ingame skull blocks or to change a player's skin using some packet magic :).<br/>
            <br/>
            This website makes custom skins a lot more convenient and less time consuming, since it uses multiple accounts donated by multiple awesome people &lt;3. This way, you don't have to use your own account to generate textures.<br/>
            If you'd like to make things even faster, please <a href="https://inventivetalent.org/contact/" target="_blank">contact inventivetalent</a> to donate a Minecraft account :).<br/>
            <br/>
            There's also a <a target="_blank" href="https://github.com/InventivetalentDev/MineskinClient">Java client</a> for the generator API, if you need to generate a lot of different textures.<br/>
            <br/>
            If you have suggestions or find a problem, please post it on the <a href="https://github.com/InventivetalentDev/api.mineskin.org/issues" target="_blank">GitHub issue tracker</a> or tweet <a href="https://twitter.com/MineSkinOrg" target="_blank">@MineSkinOrg</a> or <a href="https://twitter.com/Inventivtalent">@Inventivtalent</a>.

        </p>
        <br/>

        <a target="_blank" href="https://github.com/InventivetalentDev/api.mineskin.org">GitHub (API)</a> / <a target="_blank" href="https://github.com/InventivetalentDev/mineskin.org">(Website)</a>
        <br/>
        <a target="_blank" href="https://www.spigotmc.org/threads/164209">SpigotMC thread</a>
        <br/>
        <a target="_blank" href="https://github.com/InventivetalentDev/MineskinClient">Java API Client (GitHub)</a>
        <br/>
        <a target="_blank" href="https://r.spiget.org/25417">CustomSkins plugin (Spigot)</a>
        <br/>
        <a target="_blank" href="https://r.spiget.org/6478">CustomBlocks plugin (Spigot)</a>
    </div>
</div>